.circleUserListImg{
  height: 40px;
  width: 40px;
  background-color: #0ed5ae;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.bg {
  background: #f7f7fa;
}

.fontSize{
  font-size: 15px;
  position: absolute;
  left: 0px;
}
